# Export all names
exportPattern(".")

importFrom("graphics", par, plot, mosaicplot)
## importFrom("stats", ..........)
## importFrom("utils", ..........)

importFrom("grid", gpar)# not really, but 'vcd' *depends* on grid, so we must too and hence import..
importFrom("lattice", xyplot, equal.count)
importFrom("MASS", parcoord)
importFrom("mi", ## no longer in 'mi': data.mi, m,
           ## instead of mi.data.frame():
           missing_data.frame)
importFrom("mice", mice, complete, lm.mids)
importFrom("VIM", marginplot)
importFrom("vcd", mosaic)

## TODO: importFrom(....)
import(
  Amelia
)
