importFrom("grDevices", rainbow, rgb)
importFrom("graphics",
           abline, barplot, boxplot, hist, image, legend, lines,
           mosaicplot, par, plot, points, spineplot, text)
importFrom("stats", as.formula, density, lowess, predict)
importFrom("methods", slot)

importFrom("grid", gpar)# not really, but 'vcd' *depends* on grid, so we must too and hence import..
importFrom("lattice", xyplot, equal.count)
importFrom("MASS", parcoord)
importFrom("mi", ## no longer in 'mi': data.mi, m,
           ## instead of mi.data.frame():
           missing_data.frame)
importFrom("mice", mice, complete, lm.mids)
importFrom("VIM", marginplot)
importFrom("vcd", mosaic)

## TODO: importFrom(....)
import(
  Amelia
)

# Export all names -- improve
exportPattern(".")

